<h3 class="title fs-6 fw-bold">
    <a [routerLink]="['candidate/', item.id]" class="link">
        {{ item.firstName }} {{ item.lastName }}
    </a>
</h3>
<p class="mb-2 d-flex align-items-center">
    <span class="icon me-2">
        <tui-icon icon="./assets/icons/mail.png" class="email"></tui-icon>
    </span>
    {{ item.email }}
</p>
<p class="mb-0 d-flex align-items-center">
    <span class="icon me-2">
        <tui-icon icon="./assets/icons/mobile.png" class="phone"></tui-icon>
    </span>
    {{ item.phoneNumber }}
</p>