@import "./src/assets/styles/imports";

.breadcrumbs {
    a {
        color: var(--tui-link);
        text-decoration: none;
        &.no-link {
            cursor: default;
            color: var(--tui-text-01);
            &:hover {
                color: var(--tui-text-01);
            }
        }
        &:hover {
            color: var(--tui-link-hover);
            text-decoration: underline;
        }
    }
}
.candidate-wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    @include box-shadow(0px 0 8px rgba(0, 0 , 0, 0.15));
    border-radius: 10px;
    background-color: var(--tui-text-01-night);
}
.candidate-page {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/images/bg-01.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}